.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4pt;
  width: 100%;
  background: var(--fill);
  border-radius: 8pt;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 16pt;
}

.item:hover {
  border: 1px solid var(--brand-stroke-weak);
}

.item.selected {
  border: 1px solid var(--brand-stroke-strong);
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  stroke: var(--brand-stroke-strong);
}

.item-header > p {
  display: flex;
  align-items: center;
  gap: 2pt;
}

.valid, .invalid {
  position: absolute;
  top: 8pt;
  right: 8pt;
  opacity: .3;
  padding: 2pt 4pt;
  border-radius: 4pt;
  backdrop-filter: blur(8pt);
  transition: .3s ease-in-out;
}

.item:hover > .item-header > .valid,
.item:hover > .item-header > .invalid,
.item.selected > .item-header > .valid,
.item.selected > .item-header > .invalid {
  opacity: 1;
}

.valid {
  background-color: var(--success-fill);
  border: 1px solid var(--success-stroke-weak);
  color: var(--success-strong);
}
.invalid {
  background-color: var(--error-fill);
  border: 1px solid var(--error-stroke-weak);
  color: var(--error-strong);
}

p:last-of-type {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
