<div class="item">
  <p>{{ emailDto.fromString }}</p>
  <h3>{{ emailDto.subject }}</h3>
  <p>{{ emailDto.content }}</p>
  <div class="category-assigned">
    <p>{{ emailDto.category.name }}</p>
    <div class="confidence-info">
      <span>Confidence: {{ emailDto.confidence }}%</span>
      @if (emailDto.confidence > 60) {
        <span class="high">Alta</span>
      } @else if (emailDto.confidence > 30 && emailDto.confidence <= 59) {
        <span class="mid">Media</span>
      } @else {
        <span class="low">Bassa</span>
      }
    </div>
  </div>
</div>
