<div class="item" [class.selected]="isSelected">
  <p>{{ emailDto.fromString }}</p>
  <h3>{{ emailDto.subject }}</h3>
  <p>{{ emailDto.content }}</p>
  <div class="category-assigned">
    <p>{{ emailDto.category?.name }}</p>
    <div class="confidence-info">
      <span>Confidence: {{ emailDto.confidence }}%</span>
      <span [ngClass]="emailDto.confidenceLabel">
        {{ emailDto.confidenceLabel === 'high' ? 'Alta'
          : emailDto.confidenceLabel === 'mid' ? 'Media'
          : 'Bassa'
        }}
      </span>
    </div>
  </div>
</div>
