.item {
  display: flex;
  flex-direction: column;
  gap: 4pt;
  width: 100%;
  background: var(--fill);
  border-radius: 8pt;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 16pt;
}

.item:hover {
  background: var(--brand-fill);
  border: 1px solid var(--brand-stroke-weak);
}

p:first-of-type {
  padding: 4pt 0;
}

p:last-of-type {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.confidence-info {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: 14px;
}

.high, .mid, .low {
  padding: 2pt 8pt;
  border-radius: 8pt;
}

span.high {
  color: var(--success-strong);
  background: var(--success-fill);
}

span.mid {
  color: var(--warning-strong);
  background: var(--warning-fill);
}

span.low {
  color: var(--error-strong);
  background: var(--error-fill);
}
