<section class="skeleton">
  <div class="list">
    @if (isFetching) {
      @for (_ of skeletons; let i = $index; track i) {
        <div class="skeleton-item animated"></div>
      }
    }
    @else if (emails.length === 0) {
      <div class="skeleton-item">
        <p>Nessuna email da classificare.</p>
      </div>
    }
    @else {
      @for (email of emails; track email.id) {
        @if (!email.classify.classified) {
          <app-email-to-classify-item
            [emailDto]="email"
            [isSelected]="(selectedEmail?.id ?? '') === email.id "
            (click)="selectEmail(email)">

            <button
              class="icon-button"
              (click)="toggleClassifiedStatus(email); $event.stopPropagation()"
              [title]="email.classify.classified ? 'Marca come non classificata' : 'Marca come classificata'">
              <hugeicons-icon [icon]="CheckmarkCircleIcon" size="24"
              [ngClass]="{
                    'classified-icon': email.classify.classified,
                    'unclassified-icon': !email.classify.classified
                }"
              ></hugeicons-icon>
            </button>
          </app-email-to-classify-item>
        }
      }
    }
  </div>

  <form [formGroup]="form" (submit)="submit()" class="preview">
    @if (selectedEmail !== null) {
      <div class="sec-header">
        <hugeicons-icon [icon]="LabelIcon" size="32"></hugeicons-icon>
        <h2>Classifica Email</h2>
      </div>

      <div class="sec">
        <span>Da:</span>
        <p>{{ selectedEmail | addressesFormat }}</p>
      </div>
      <div class="sec">
        <span>Oggetto:</span>
        <p>{{ selectedEmail.subject }}</p>
      </div>
      <div class="sec">
        <span>Messaggio:</span>
        <p>{{ selectedEmail.body }}</p>
      </div>

      <div class="classifications" formArrayName="classifications">
        @for (control of classifications.controls; let i = $index; track i) {
          <div class="classification" [formGroupName]="i">
            <div class="confidence-info">
              @if (control.get('confidence')?.value) {
                <span>
                  Confidence:
                  <span [ngClass]="control.get('confidence')?.value | confidenceFormat">
                    {{ control.get('confidence')?.value }}%
                  </span>
                </span>
              } @else {
                <span class="neutral-badge">Nuova Classificazione</span>
              }
              @if (i >= 1) {
                <span class="delete" (click)="removeClassification(i)">
                <hugeicons-icon [icon]="Delete02Icon" size="16"></hugeicons-icon>
              </span>
              }
            </div>
            <select formControlName="categoryId">
              <option value="" disabled selected>Seleziona una categoria</option>
              @for (category of categories; track category.id) {
                <option [value]="category.id">{{ category.name }}</option>
              }
            </select>

            <textarea formControlName="text" placeholder="Scrivi il motivo della categoria scelta."></textarea>
          </div>
        }

        <button type="button" (click)="addClassification()" class="secondary-btn">
          <hugeicons-icon [icon]="Add01Icon"></hugeicons-icon>
        </button>
      </div>

      <button type="submit" [disabled]="form.invalid || isLoading">
        Conferma Classificazione
      </button>
    } @else {
      <p>Seleziona una Email prima di poterla classificare.</p>
    }
  </form>
</section>
