<section class="skeleton">
  <div class="list">
    @if (isFetching) {
      @for (_ of skeletons; let index = $index; track index) {
        <div class="skeleton-item animated"></div>
      }
    }
    @else if (emails.length === 0) {
      <div class="skeleton-item">
        <p>Nessuna email in attesa di risposta.</p>
      </div>
    }
    @else {
      @for (email of emails; track email) {
        <app-email-to-answer-item
          [emailDto]="email"
          [isSelected]="(selectedEmail?.id ?? '') === email.id "
          (click)="selectEmail(email)">
        </app-email-to-answer-item>
      }
    }
  </div>

  <form [formGroup]="form" (submit)="submit()" class="preview">
    @if (selectedEmail !== null) {
      <div class="sec-header">
        <hugeicons-icon [icon]="Mail01Icon" size="32"></hugeicons-icon>
        <h2>Rispondi Email</h2>
      </div>

      <div class="sec">
        <span>Da:</span>
        <p>{{ selectedEmail.fromString }}</p>
      </div>
      <div class="sec">
        <span>Oggetto:</span>
        <p>{{ selectedEmail.subject }}</p>
      </div>
      <div class="sec">
        <span>Messaggio:</span>
        <p>{{ selectedEmail.content }}</p>
      </div>

      <textarea formControlName="response" placeholder="Rispondi alla mail"></textarea>

      <button type="submit" [disabled]="form.invalid || isLoading">
        Conferma Classificazione
      </button>
    } @else {
      <p>Seleziona una Email prima di poter rispondere.</p>
    }
  </form>
</section>
