<section class="skeleton">
  <div class="list">
    @if (isFetching) {
      @for (_ of skeletons; let index = $index; track index) {
        <div class="skeleton-item animated"></div>
      }
    }
    @else if (emails.length === 0) {
      <div class="skeleton-item">
        <p>Nessuna email in attesa di risposta.</p>
      </div>
    }
    @else {
      <div class="header-list">
        <h4>{{ isFiltered ? 'Email da rispondere' : 'Tutte le Email' }}</h4>
        <hugeicons-icon
          [class.active]="isFiltered"
          [icon]="FilterMailCircleIcon"
          (click)="isFiltered = !isFiltered">
        </hugeicons-icon>
      </div>
      @for (email of emails; track email) {
        @if (!isFiltered || !email.answer.answered) {
          <app-email-to-answer-item
            [emailDto]="email"
            [isSelected]="(selectedEmail?.id ?? '') === email.id "
            (click)="selectEmail(email)">
          </app-email-to-answer-item>
        }
      }
    }
  </div>

  <form [formGroup]="form" (submit)="submit()" class="preview">
    @if (selectedEmail !== null) {
      <div class="sec-header">
        <hugeicons-icon [icon]="Mail01Icon" size="32"></hugeicons-icon>
        <h2>Rispondi Email</h2>
      </div>

      <div class="sec">
        <span>Da:</span>
        <p>{{ selectedEmail | addressesFormat }}</p>
      </div>
      <div class="sec">
        <span>Oggetto:</span>
        <p>{{ selectedEmail.subject }}</p>
      </div>
      <div class="sec">
        <span>Messaggio:</span>
        <p>{{ selectedEmail.body }}</p>
      </div>

      <div class="responses" formArrayName="responses">
        @if (classification?.classified === true) {
          @if (!answer) {
            <p class="error">Errore nella generazione delle risposte. Riprova</p>
          } @else {
            @for (c of singleClassifications; let idx = $index; track idx) {
              <div class="single-response">
                <div class="sec">
                  <div class="sec-header">
                    <span>Classificazione:</span>
                    <p>{{ c?.category?.name }}</p>
                  </div>
                  <p> {{ c?.text }}</p>
                </div>
                <textarea
                  [formControlName]="idx"
                  placeholder="Risposta">
                </textarea>

                @if(!responses.at(idx).untouched && responses.at(idx).invalid){
                  @if(responses.at(idx).errors?.['required']) {
                    <p class="error">La risposta è obbligatoria.</p>
                  }
                  @if(responses.at(idx).errors?.['maxlength']) {
                    <p class="error">
                      Massimo {{ responseMaxLength }} caratteri.
                      ({{ responses.at(idx).errors?.['maxlength'].actualLength }}/{{ responseMaxLength }})
                    </p>
                  }
                }
              </div>
            }
          }
        } @else {
          <p class="error">Classificazione non disponibile. Controlla la classificazione manualmente per poter vedere le risposte</p>
        }
      </div>

      <button type="submit" [disabled]="form.invalid || isLoading">
        {{ isLoading ? 'Invio in corso...' : 'Invia Risposta' }}
      </button>
    } @else {
      <p>Seleziona una Email prima di poter rispondere.</p>
    }
  </form>
</section>
