.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: var(--background);
  min-height: 100svh;
}

header, nav {
  display: flex;
  align-items: center;
  width: 100%;
}

header {
  padding: 16pt;
  gap: 4pt;
}

header > img {
  height: 50pt;
}

nav {
  display: flex;
  gap: 16pt;
  overflow-x: auto;
  position: sticky;
  top: 0;
  background: var(--background);
  z-index: 99;
}

a {
  display: flex;
  align-items: center;
  gap: 4pt;
  padding: 8pt 0;
  color: var(--text-weak);
  text-decoration: none;
  letter-spacing: 1pt;
  border-bottom: 1px solid transparent;
  transition: .3s ease-in-out;
}

a:first-of-type {
  margin-left: 16pt;
}

.nav-icon {
  stroke: var(--text-weak);
  transition: .3s ease-in-out;
}

a.active {
  color: var(--brand-strong);
  border-bottom: 1px solid var(--brand-strong);
}

a.active > .nav-icon {
  stroke: var(--brand-strong);
}

main{
  width: 100%;
  padding: 16pt;
}
