.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: var(--background);
  min-height: 100svh;
}

header, nav {
  display: flex;
  align-items: center;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 16pt;
  gap: 4pt;
}

header  > img {
  height: 30pt;
}

nav {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--background);
  border-bottom: 1px solid var(--stroke-weak);
  z-index: 99;
}

nav > div {
  display: flex;
  gap: 16pt;
  overflow-x: auto;
  padding-top: 8pt;
}

a {
  display: flex;
  align-items: center;
  gap: 4pt;
  padding: 8pt 0;
  color: var(--text-weak);
  text-decoration: none;
  letter-spacing: 1pt;
  border-bottom: 1px solid transparent;
  transition: .3s ease-in-out;
}

a:first-of-type {
  margin-left: 16pt;
}

a:last-of-type {
  margin-right: 64pt;
}

.actions {
  position: absolute;
  right: 16pt;
  display: flex;
  align-items: center;
  gap: 16pt;
}

.third-btn {
  padding: 8pt;
  border-radius: 8pt;
  background: var(--fill);
  backdrop-filter: blur(8pt);
  border: 1.5px solid var(--stroke-weak);
  stroke: var(--text-weak);
  stroke-width: 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-btn:hover {
  stroke: var(--brand-strong);
  background: var(--brand-fill);
  border: 1.5px solid var(--brand-stroke-strong);
}

.nav-icon {
  stroke: var(--text-weak);
  stroke-width: 1.5px;
  transition: .3s ease-in-out;
}

a.active {
  color: var(--brand-strong);
  border-bottom: 1px solid var(--brand-strong);
}

a.active > .nav-icon {
  stroke: var(--brand-strong);
}

main{
  width: 100%;
  padding: 16pt;
}

